body {
    font-family: Cormorant, serif;
}

h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0 32px 0 0;
}

nav {
    display: inline-block;
}

.links li {
    display: inline-block;
}

.links a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 8px;
}

.links ul {
    padding: 0;
}

.navbar {
    margin: 32px;
}

a.active {
    border-bottom: 1px solid black;
}