body {
    font-family: Cormorant, serif;
}

h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0 32px 0 0;
}

nav {
    display: inline-block;
}

.links li {
    display: inline-block;
}

.links a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 8px;
}

.links ul {
    padding: 0;
}

.navbar {
    margin: 32px;
}

a.active {
    border-bottom: 1px solid black;
}

.gallery {
    padding: 16px;
}

.card {
    width: 49.75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;
} 

.card img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.card h2 {
    display: inline-block;
    margin: 8px 0 16px 0;
    font-weight: 300;
}